<!-- <app-navbar></app-navbar> -->
<div class="container">
    <div class="popular-games">
        <h2>Popular Games</h2>
        <div class="cards">
            <div class="card" *ngFor="let item of popularGames">
                <img class="card__image" src="{{item.image}}" alt="">
                <div class="card__content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ducimus id ab tenetur delectus reiciendis fugit autem qui at.
                    </p>
                    <p>
                        Alias itaque praesentium eum, pariatur consequatur ducimus asperiores accusantium velit minima?
                    </p>
                </div>
                <div class="card__info">
                    <div>
                        <i class="material-icons">thumb_up</i>310
                    </div>
                    <div>
                        <a href="#" class="card__link">View Article</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recently-viewed-games">
        <h2>Recently Viewed Games</h2>
        <div class="games-list">
            <a *ngFor="let item of popularGames">
                <img src="{{item.image}}">
                <p>{{item.title}}</p>
            </a>
        </div>
    </div>
    <div class="gallery-games">
        <h2>Gallery Games</h2>
        <div class="games-list">
            <a *ngFor="let item of popularGames">
                <img src="{{item.image}}">
                <p>{{item.title}}</p>
            </a>
        </div>
    </div>
    <div class="games-slide-show">
        <h2>All Games</h2>
        <div class="games-list">
            <a *ngFor="let item of popularGames">
                <img src="{{item.image}}">
                <p>{{item.title}}</p>
            </a>
        </div>
    </div>
</div>