<app-navbar></app-navbar>
<div class="container">
    <div class="popular-games">
        <h2>Popular Games</h2>
        <div class="games-list">
            <a *ngFor="let item of popularGames">
                <img src="{{item.image}}">
                <p>{{item.title}}</p>
            </a>
        </div>
    </div>
    <div class="recently-viewed-games">
        <h2>Recently Viewed Games</h2>
        <div class="games-list">
            <a *ngFor="let item of popularGames">
                <img src="{{item.image}}">
                <p>{{item.title}}</p>
            </a>
        </div>
    </div>
    <div class="gallery-games">
        <h2>Gallery Games</h2>
        <div class="games-list">
            <a *ngFor="let item of popularGames">
                <img src="{{item.image}}">
                <p>{{item.title}}</p>
            </a>
        </div>
    </div>
    <div class="games-slide-show">
        <h2>All Games</h2>
        <div class="games-list">
            <a *ngFor="let item of popularGames">
                <img src="{{item.image}}">
                <p>{{item.title}}</p>
            </a>
        </div>
    </div>
</div>