/*Diminishing the default margin and padding of the browser*/
*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
    background-color: #0A1B31; 
    color: lightgrey;
}
 #header{
    width: 100%;
    height: 5em;
    background-color: grey;
    color: black;
 }

 #community p{
    font-size: 3em;
    font-weight: bold;
    margin: 2em;
    text-transform: capitalize;
 }

    fieldset{
    	width: 98%;
        margin:  5em auto;
        border-color: black;
        box-shadow: 0px 0px 1em #15060C;
    }

    fieldset div{
    	margin: 1.4em;
    }
    

   
    hr{
    	margin-top: 1em;
        margin: auto;
        width: 95%;
        border-color: dimgrey;
    }
    

    fieldset div p{
    	margin: 15px;
    	font-size: 1.2em;
    }

    
    fieldset a{
        text-decoration: none;
        color: brown;
    }

    #categories a{
    	text-decoration: none;

    }

    
    section{
    	
    	background-color: rgba(0,0,0,0.3);
    	width: 100%;
    	height: 100%;
    	margin: .2em;

    }

    

    section a{
    	text-decoration: none;
    	color: lightgrey;
    	margin-top: 5em;
   }

    section p{
    	padding: .6em;
    	font-size: 0.2em;
    	font-weight: bold;
    	font-family: sans-serif;
    }

   h2{
   	margin:1em;
   	margin-bottom: 0;
   }

   #about{
   	font-size: 1.1em;
   	margin-top: 0;
   	opacity: 70%;
    padding: 1em;
   }
    

   #GeneralDiscussion{
    	float: right;
    	color: white;
    	font-size: 1.4em;
    	text-shadow: 1px 1px 0px black;

    }