*{
	margin:0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
}
#side-menu{
	background: #f3f3f3;
	width: 30%;
	float: left;
	height: auto;

}

#main-contents{
	display: inline-flex;
	margin-left: 35%;
	width: 65%;
	float: right;
}
div{
	width: 100%;
	position: absolute;
	margin-top: 5%;
}
#side-menu-section ul li a{
			text-decoration: none;
			color: black;
			font-size: 1.1em;
			opacity: 60%;
		}
#side-menu-section ul li{
			padding-bottom: 1.6vh;

		}
		article{
			font-size: 0.9em;
			margin-top: 5%;
			height: auto;
		}
		article p{
			opacity: 65%
		}
		table{
			width: 100%;
			border:1px solid black;
			background: grey;
			margin-top: 40px;
			display: inline-table;
		}
		table div{
			margin: 0;
			border:1px solid black;
			width: 89%;
			margin-top: 4px;
			background: #f3f3f3;
		}
		
		table div li{
			margin-left: 30px;
		}
		table div li a{
			text-decoration: none;
			color: blue;

		}
		table div li a:hover{
			text-decoration: underline;
		}