<div class="nav-bar">
    <div class="logo">
        <a><img src="../../assets/Kaneadua.jpeg"> </a>
    </div>
    <div class="nav_bar_links">
        <a>Browse Games</a>
        <a class="active">Game Jams</a>
        <a>Upload Game</a>
        <a>Devlogs</a>
    </div>
    <div class="search-box">
        <span class="material-icons">
            search
            </span>
        <input type="search" name="search-box" id="search" placeholder="Search for games or creators" />
    </div>
    <div class="login">
        <a>Login</a>
        <a>Register</a>

    </div>


</div>