.container {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    // position: fixed; // will change this soon  this makes the nav bar static
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    background: #40434E;
    background: #6f727e;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #222;
    height: 60px;
    position: relative; // original position 
    width: 100%;
    z-index: 100;
}

a {
    cursor: pointer;
    align-content: center;
}

.logo {
    width: 100%;
    margin: auto 50%;
    img {
        width: 130px;
        height: 60px;
        margin: auto;
    }
}

.error {
    color: red;
    border: none;
    padding: 15px;
    /* height: 46px; */
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    background: #ffe6e6;
    font-size: 11px;
    width: 85%;
    margin-left: 5%;
}


/*************************************/

.main {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.login-wrap {
    position: relative;
    margin: 0 auto;
    // background: #ecf0f1;
    background: white;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
    width: 60%;
    min-width: 2px;
}

.login-wrap h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 10px;
    color: #34495e;
}

.login-wrap .form {
    padding-top: 20px;
}

.login-wrap .form input[type="text"],
.login-wrap .form input[type="password"],
.login-wrap .form button {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 25px;
    height: 56px;
    border-radius: 5px;
    outline: 0;
}

.login-wrap .form button {
    width: 93%;
}

.login-wrap .form input[type="text"],
.login-wrap .form input[type="password"] {
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 17px;
}

.login-wrap .form input[type="text"]:focus,
.login-wrap .form input[type="password"]:focus {
    border: 1px solid #3498db;
}

.login-wrap .form a {
    text-align: center;
    font-size: 16px;
    color: #3498db;
}

.login-wrap .form a p {
    padding-bottom: 10px;
}

.login-wrap .form button {
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
}

.login-wrap .form button:hover {
    box-shadow: 1px 1px 5px #555;
}

.login-wrap .form button:active {
    box-shadow: 1px 1px 7px #222;
}

.login-wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(left, #27ae60 0%, #27ae60 20%, #8e44ad 20%, #8e44ad 40%, #3498db 40%, #3498db 60%, #e74c3c 60%, #e74c3c 80%, #f1c40f 80%, #f1c40f 100%);
    background: -moz-linear-gradient(left, #27ae60 0%, #27ae60 20%, #8e44ad 20%, #8e44ad 40%, #3498db 40%, #3498db 60%, #e74c3c 60%, #e74c3c 80%, #f1c40f 80%, #f1c40f 100%);
    height: 5px;
    border-radius: 5px 5px 0 0;
}

@media screen and(max-width: 600px) {
    .main {
        margin-top: 16px;
    }
    .login-wrap {
        width: 85%;
    }
    .login-wrap .form input[type="text"],
    .login-wrap .form input[type="password"],
    .login-wrap .form button {
        font-size: 12px;
        height: 40px;
    }
    .login-wrap .form a {
        text-align: center;
        font-size: 10px;
        color: #3498db;
    }
}

@media screen and(max-width: 330px) {
    .error {
        width: 82%;
    }
}