<div class="container">
    <div class="nav-bar" routerLink="/home" style="cursor: pointer;">
        <div class="logo">
            <a routerLink="/home"><img src="../../assets/Kaneadua.jpeg"> </a>
        </div>
    </div>
    <div class="main">
        <!-- <div class="login-wrap">
            <h2>Login</h2>

            <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <p class="error" *ngIf="error"> invalid username or password </p>
                <input type="text" placeholder="Username" name="username" formControlName="username" />
                <input type="password" placeholder="Password" name="password" formControlName="password" />
                <button type="submit"> Sign in </button>
                <a routerLink="/register">
                    <p> Don't have an account? Register </p>
                </a>
            </form>
        </div> -->
        <div class="login__container">
            <header>Login Form</header>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <p class="error" *ngIf="error"> invalid username or password </p>
                <div class="input-field">
                    <input type="text" name="username" formControlName="username">
                    <label>Email or Username</label>
                </div>
                <div class="input-field">
                    <input class="pswrd" type="password" name="password" formControlName="password">
                    <label>Password</label>
                </div>
                <div class="button">
                    <div class="inner">
                    </div>
                    <button>LOGIN</button>
                </div>
            </form>
            <div class="auth">
                Or login with</div>
            <div class="links">
                <div class="github">
                    <i class="fab fa-github-square"><span>Github</span></i>
                </div>
                <div class="google">
                    <i class="fab fa-google-plus-square"><span>Google</span></i>
                </div>
            </div>
            <div class="signup">
                Not a member? <a>Signup now</a>
            </div>

        </div>
    </div>
    <!-- <div class="footer">
        <p>footer</p>
    </div> -->
    <app-footer></app-footer>
</div>