<div class="container">

    <!------SIDE BAR MENU-->
    <div class="side-bar">
        <div class="nav">

            <div class="multi-level">
                <div class="item">
                    <input type="checkbox" id="A" />
                    <label for="A" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Sevices</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">Windows</a></li>
                        <li><a href="#">linux</a></li>
                        <li><a href="#">Mac Os</a></li>
                    </ul>
                </div>

                <div class="item">
                    <input type="checkbox" id="B" />
                    <label for="B" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Sevices</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">Branding</a></li>
                        <li><a href="#">Web/App Development</a></li>
                        <li><a href="#">Internet Marketing and SEO</a></li>
                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="C" />
                    <label for="C" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Sevices</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">Branding</a></li>
                        <li><a href="#">Web/App Development</a></li>
                        <li><a href="#">Internet Marketing and SEO</a></li>
                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="D" />
                    <label for="D" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Sevices</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">Branding</a></li>
                        <li><a href="#">Web/App Development</a></li>
                        <li><a href="#">Internet Marketing and SEO</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <!---GAME SECTION-->
    <div class="game-section">
        <div class="search-games">
            <h2>
                <span>Top</span>
                <div class="dropdown2">
                    <button onclick="myFunction2()">Games</button>
                    <!-- <div id="myDropdown" class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div> -->
                </div>
                <span>(300,000 results)</span>
            </h2>
            <div class="game-categories">
                <span>Sort by</span>
                <ul>
                    <li>
                        <a href="">Top Sellers</a>
                    </li>
                    <li>
                        <a href="">Popular</a>
                    </li>
                    <li>
                        <a href="">New and Popular</a>
                    </li>
                    <li>
                        <a href="">Top rated</a>
                    </li>
                    <li>
                        <a href="">Most Recent</a>
                    </li>
                </ul>
            </div>
            <div class="game-select-options">
                <label for="cars">Choose a car:</label>
                <div class="select">
                    <select name="cars" id="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>

                <div class="tags">

                    Horror
                </div>
                <div class="tags">

                    3D
                </div>
                <div class="tags">
                    First Person
                </div>
                <div class="tags">
                    Single Player
                </div>
                <div class="tags">
                    Atmospheric
                </div>
                <div class="tags">
                    Short
                </div>
                <div class="tags">
                    Psychological-Horror
                </div>
                <div class="tags">
                    Creepy
                </div>
                <div class="tags">
                    Survial Horror
                </div>
                <div class="tags">
                    PSX
                </div>
                <div class="tags">
                    (view all tags)
                </div>


            </div>

        </div>
        <div class="games-grid">
            <p>Game Cards</p>
        </div>
    </div>
</div>