<div class="container">
    <!------SIDE BAR MENU-->
    <div class="side-bar">
        <h2>FILTER RESULTS</h2>
        <div class="nav">

            <div class="multi-level">
                <div class="item">
                    <input type="checkbox" id="A" />
                    <label for="A" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Platform</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">Windows</a></li>
                        <li><a href="#">linux</a></li>
                        <li><a href="#">Mac Os</a></li>
                        <li><a href="#">Android</a></li>
                        <li><a href="#">IOS</a></li>
                        <li><a href="#">Web</a></li>

                    </ul>
                </div>

                <div class="item">
                    <input type="checkbox" id="B" />
                    <label for="B" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Price</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">On Sale</a></li>
                        <li><a href="#">Free</a></li>
                        <li><a href="#">Paid</a></li>
                        <li><a href="#">$5 or less</a></li>
                        <li><a href="#">$15 or less</a></li>
                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="C" />
                    <label for="C" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>When</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">Last Day</a></li>
                        <li><a href="#">Last 7 days</a></li>
                        <li><a href="#">Last 30 days</a></li>
                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="D" />
                    <label for="D" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Genre</span>
                    </div>
                 </label>
                    <ul>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Educational</a></li>
                        <li><a href="#">Card Game</a></li>
                        <li><a href="#">Fighting</a></li>
                        <li><a href="#">Racing</a></li>
                        <li><a href="#">Interactive Fiction</a></li>
                        <li><a href="#">Platformer</a></li>
                        <li><a href="#">Puzzle</a></li>
                        <li><a href="#">Role Playing</a></li>
                        <li><a href="#">Shooter</a></li>
                        <li><a href="#">Simulation</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Strategy</a></li>
                        <li><a href="#">Survival</a></li>
                        <li><a href="#">Visul Novel</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </div>
                <!---**************************-->
                <div class="item">
                    <input type="checkbox" id="E" />
                    <label for="E" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Input Methods</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">Windows</a></li>
                        <li><a href="#">linux</a></li>
                        <li><a href="#">Mac Os</a></li>
                        <li><a href="#">Android</a></li>
                        <li><a href="#">IOS</a></li>
                        <li><a href="#">Web</a></li>

                    </ul>
                </div>

                <div class="item">
                    <input type="checkbox" id="F" />
                    <label for="F" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Average session length</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">On Sale</a></li>
                        <li><a href="#">Free</a></li>
                        <li><a href="#">Paid</a></li>
                        <li><a href="#">$5 or less</a></li>
                        <li><a href="#">$15 or less</a></li>
                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="G" />
                    <label for="G" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Misc</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">Last Day</a></li>
                        <li><a href="#">Last 7 days</a></li>
                        <li><a href="#">Last 30 days</a></li>
                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="H" />
                    <label for="H" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Multiplayer features</span>
                    </div>
                 </label>
                    <ul>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Educational</a></li>
                        <li><a href="#">Card Game</a></li>
                        <li><a href="#">Fighting</a></li>
                        <li><a href="#">Racing</a></li>

                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="I" />
                    <label for="I" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Accessibility features</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">Windows</a></li>
                        <li><a href="#">linux</a></li>
                        <li><a href="#">Mac Os</a></li>
                        <li><a href="#">Android</a></li>
                        <li><a href="#">IOS</a></li>
                        <li><a href="#">Web</a></li>

                    </ul>
                </div>

                <div class="item">
                    <input type="checkbox" id="J" />
                    <label for="J" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Type</span>
                </div>
                 </label>
                    <ul>
                        <li><a href="#">On Sale</a></li>
                        <li><a href="#">Free</a></li>
                        <li><a href="#">Paid</a></li>
                        <li><a href="#">$5 or less</a></li>
                        <li><a href="#">$15 or less</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <!---GAME SECTION-->
    <div class="game-section">
        <div class="search-games">
            <h2>
                <span>Top</span>
                <div class="dropdown2">
                    <button onclick="myFunction2()">Games</button>
                    <!-- <div id="myDropdown" class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div> -->
                </div>
                <span>(300,000 results)</span>
            </h2>
            <div class="game-categories">
                <span>Sort by</span>
                <ul>
                    <li>
                        <a href="">Top Sellers</a>
                    </li>
                    <li>
                        <a href="">Popular</a>
                    </li>
                    <li>
                        <a href="">New & Popular</a>
                    </li>
                    <li>
                        <a href="">Top rated</a>
                    </li>
                    <li>
                        <a href="">Most Recent</a>
                    </li>
                </ul>
            </div>
            <div class="game-select-options">
                <label for="cars">Choose a car:</label>
                <div class="select">
                    <select name="cars" id="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>

                <div class="tags">

                    Horror
                </div>
                <div class="tags">

                    3D
                </div>
                <div class="tags">
                    First Person
                </div>
                <div class="tags">
                    Single Player
                </div>
                <div class="tags">
                    Atmospheric
                </div>
                <div class="tags">
                    Short
                </div>
                <div class="tags">
                    Psychological-Horror
                </div>
                <div class="tags">
                    Creepy
                </div>
                <div class="tags">
                    Survial Horror
                </div>
                <div class="tags">
                    PSX
                </div>
                <div class="tags">
                    (view all tags)
                </div>


            </div>

        </div>
        <!-------------GAME CARDS SECTION-->
        <div class="games-grid">
            <div class="popular-games">
                <div class="cards">
                    <div class="card" *ngFor="let item of popularGames">
                        <img class="card__image" src="{{item.image}}" alt="">
                        <div class="card__content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ducimus id ab tenetur delectus reiciendis fugit autem qui at.
                            </p>
                            <p>
                                Alias itaque praesentium eum, pariatur consequatur ducimus asperiores accusantium velit minima?
                            </p>
                        </div>
                        <div class="card__info">
                            <div>
                                <i class="material-icons">thumb_up</i>310
                            </div>
                            <div>
                                <a href="#" class="card__link">View Article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>