<div class="container">
    <!------SIDE BAR MENU-->
    <div class="side-bar">
        <h2>FILTER RESULTS</h2>
        <div class="nav">

            <div class="multi-level">
                <div class="item">
                    <input type="checkbox" id="A" />
                    <label for="A" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Platform</span>
                </div>
                 </label>
                    <ul>
                        <li><a><i class="fab fa-windows"></i>Windows</a></li>
                        <li><a><i class="fab fa-linux"></i>Linux</a></li>
                        <li><a><i class="fab fa-apple"></i>MacOs</a></li>
                        <li>
                            <a><img src="https://img.icons8.com/metro/26/000000/android-os.png" />Android</a>
                        </li>
                        <li><a><i class="fab fa-apple"></i>IOS</a></li>
                        <li><a><i class="fas fa-globe"></i>Web</a></li>

                    </ul>
                </div>

                <div class="item">
                    <input type="checkbox" id="B" />
                    <label for="B" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Price</span>
                </div>
                 </label>
                    <ul>
                        <li><a><i class="fas fa-money-bill-alt"></i>On Sale</a></li>
                        <li><a><i class="fas fa-hand-holding-usd"></i>Free</a></li>
                        <li><a><i class="fas fa-shopping-cart"></i>Paid</a></li>
                        <li><a><i class="fas fa-shopping-cart"></i>$5 or less</a></li>
                        <li><a><i class="fas fa-shopping-cart"></i>$15 or less</a></li>
                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="C" />
                    <label for="C" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>When</span>
                </div>
                 </label>
                    <ul>
                        <li>
                            <a><img src="https://img.icons8.com/android/24/000000/time.png" />Last Day</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/android/24/000000/time.png" />Last 7 days</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/android/24/000000/time.png" />Last 30 days</a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="D" />
                    <label for="D" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Genre</span>
                    </div>
                 </label>
                    <ul>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Adventure</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Action</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Educational</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Card Game</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Fighting</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Racing</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Interactive Fiction</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Platformer</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Puzzle</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Role Playing</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Shooter</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Simulation</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Sports</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Strategy</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Survival</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Visul Novel</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/fluent/48/000000/tag.png" />Other</a>
                        </li>
                    </ul>
                </div>
                <!---**************************-->
                <div class="item">
                    <input type="checkbox" id="E" />
                    <label for="E" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Input Methods</span>
                </div>
                 </label>
                    <ul>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Keyboard</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Mouse</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Gamepad(any)</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Xbox controller</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Touchscreen</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Joystick</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Voice control</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Smartphone</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Oculus Rift</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Leap Motion</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Wiimote</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Kinect</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>NeuroSky Mindave</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Accelerometer</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>DancePad</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>HTC Vive</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Google Daydream VR</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Google Cardboard VR</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Playstation Controller</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>MIDI Controller</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Joy-con</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Magic Leap</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Oculus Quest</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Oculus Go</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Windows Mixed Reality</a>
                        </li>
                        <li>
                            <a><i class="fas fa-gamepad"></i>Valve index</a>
                        </li>

                    </ul>
                </div>

                <div class="item">
                    <input type="checkbox" id="F" />
                    <label for="F" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Average session length</span>
                </div>
                 </label>
                    <ul>
                        <li>
                            <a><img src="https://img.icons8.com/android/24/000000/time.png" />Last Day</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/android/24/000000/time.png" />Last Day</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/android/24/000000/time.png" />Last Day</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/android/24/000000/time.png" />Last Day</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/android/24/000000/time.png" />Last Day</a>
                        </li>
                        <li>
                            <a><img src="https://img.icons8.com/android/24/000000/time.png" />Last Day</a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="G" />
                    <label for="G" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Misc</span>
                </div>
                 </label>
                    <ul>
                        <li><a>Last Day</a></li>
                        <li><a>Last 7 days</a></li>
                        <li><a>Last 30 days</a></li>
                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="H" />
                    <label for="H" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Multiplayer features</span>
                    </div>
                 </label>
                    <ul>
                        <li><a>Adventure</a></li>
                        <li><a>Action</a></li>
                        <li><a>Educational</a></li>
                        <li><a>Card Game</a></li>
                        <li><a>Fighting</a></li>
                        <li><a>Racing</a></li>

                    </ul>
                </div>
                <div class="item">
                    <input type="checkbox" id="I" />
                    <label for="I" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Accessibility features</span>
                </div>
                 </label>
                    <ul>
                        <li><a>Windows</a></li>
                        <li><a>linux</a></li>
                        <li><a>Mac Os</a></li>
                        <li><a>Android</a></li>
                        <li><a>IOS</a></li>
                        <li><a>Web</a></li>

                    </ul>
                </div>

                <div class="item">
                    <input type="checkbox" id="J" />
                    <label for="J" class="arrow-down">
                    <div class="menu">
                        <img src="../../assets/Arrow.png" class="arrow">
                        <span>Type</span>
                </div>
                 </label>
                    <ul>
                        <li><a>On Sale</a></li>
                        <li><a>Free</a></li>
                        <li><a>Paid</a></li>
                        <li><a>$5 or less</a></li>
                        <li><a>$15 or less</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <!---GAME SECTION-->
    <div class="game-section">
        <div class="search-games">
            <h2>
                <span>Top</span>
                <div class="dropdown2">
                    <button onclick="myFunction2()">Games</button>
                    <!-- <div id="myDropdown" class="dropdown-content">
                        <a >Link 1</a>
                        <a >Link 2</a>
                        <a >Link 3</a>
                    </div> -->
                </div>
                <span>(300,000 results)</span>
            </h2>
            <div class="game-categories">
                <span>Sort by</span>
                <ul>
                    <li>
                        <a href="">Top Sellers</a>
                    </li>
                    <li>
                        <a href="">Popular</a>
                    </li>
                    <li>
                        <a href="">New & Popular</a>
                    </li>
                    <li>
                        <a href="">Top rated</a>
                    </li>
                    <li>
                        <a href="">Most Recent</a>
                    </li>
                </ul>
            </div>
            <div class="game-select-options">
                <label for="cars">Choose a car:</label>
                <div class="select">
                    <select name="cars" id="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </div>

                <div class="tags">

                    Horror
                </div>
                <div class="tags">

                    3D
                </div>
                <div class="tags">
                    First Person
                </div>
                <div class="tags">
                    Single Player
                </div>
                <div class="tags">
                    Atmospheric
                </div>
                <div class="tags">
                    Short
                </div>
                <div class="tags">
                    Psychological-Horror
                </div>
                <div class="tags">
                    Creepy
                </div>
                <div class="tags">
                    Survial Horror
                </div>
                <div class="tags">
                    PSX
                </div>
                <div class="tags">
                    (view all tags)
                </div>


            </div>

        </div>
        <!-------------GAME CARDS SECTION-->
        <div class="games-grid">
            <div class="popular-games">
                <div class="cards">
                    <div class="card" *ngFor="let item of popularGames">
                        <img class="card__image" src="{{item.image}}" alt="">
                        <div class="card__content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ducimus id ab tenetur delectus reiciendis fugit autem qui at.
                            </p>
                            <p>
                                Alias itaque praesentium eum, pariatur consequatur ducimus asperiores accusantium velit minima?
                            </p>
                        </div>
                        <div class="card__info">
                            <div>
                                <i class="material-icons">thumb_up</i>310
                            </div>
                            <div>
                                <a class="card__link">View Article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>