body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #0A1B31;
}
#header{
	background-color: grey;
	width: 100%;
	height: 80px;
}

.section-1,.section-1 a {
	color: white;
	background-color: #0A1B31;
}

.content_minus_header{
	width: 98%;
	position: relative;
	margin: 0 auto;
	left: 0;
	top: 0;    
}


 @media (min-width: 50em) { 
 	.section-1{
 		font-size: 1.2em;
 	}
  }



.section-2 {
	
	display: flex;
	flex: 1 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom:  thin solid grey;
	background-color: inherit;
	color: lightgrey;
}


#first{
	padding: 0em .5em 0em .5em;
	opacity: .8;
}

#first:first-child{
	margin-right: auto;
	font-size: 1.1em;
	font-weight: bold;
	
}

@media (min-width: 50em){

	#first:first-child{
	font-size: 2em;	
}
}


#second{
	padding: 0em .5em 0em .5em;
}

#second input{
   
    	border-radius: 1em;
    	width: 20em;
    	height: 2.5em;
    	padding: 1.5em;
    	border:medium black solid;
    	background-color: #162C48;
    	color: white;
    	box-shadow: 0px 0px 1em #15060C;
    	
}

#second input:focus{
	outline: transparent;
	border:medium red solid;
}

#second button{
	background-color: #c80000;
	color: white;
	border:solid #c80000 medium;
	border-radius: 1em;
	height: 3.45em;
	font-weight: bold;
}

#second button:hover{
	outline: transparent;
	background:transparent;
}

@media (min-width: 50em){
	#second button{
		display: none;
	}
}




#third{
	padding: 0em .5em 0em .5em; 
	margin-top: 0;
}

#third button{
	border-radius: .7em;
	height: 3em;
	font-weight: bold;
	background: #c80000;
	border:solid #c80000 medium;
	color: white;
	outline: transparent;
}

@media (max-width: 30em){
	#third{
		margin-top: 3em;
	}
}

#third button:active{
	outline: transparent;
	background-color: transparent;
}

#fourth{
	padding: 0em .5em 0em .5em; 
}

#fourth p{
	font-weight: bold;
	font-family: TimesNewRoman,Times,Serif;
	font-size: 1.6em;
	color: white;
	text-shadow: 1px 1px 0px white;
}

.section-3{
	margin-top: 1em;
	background-color:#0A1B31;;
	padding: 0em .5em 0em .5em;
	overflow: hidden;
	position: relative;
	height: 18em;                 /*////////////////////////////////////////////////////*/
	color: lightgrey;

}

.restore{
	height: auto;
}

@media (min-width: 50em){
	.section-3 p,.section-3 ul{
		font-size: 1.4em;
	}

	#toggler{
		font-size: 1.3em;
	}
}

.section-3 a{
	color: brown;
}





#toggler{
 font-family: monospace;
 padding: 2em;
 padding-top: 1em;
 color: gold;
}

#toggler a:hover{
	cursor: pointer;
}

.fade:after{
	content: "";
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom,rgba(10,27,49,0.6),rgba(10,27,49,1)95%);
	width: 100%;
	height: 7em;
}

.section-4{
	background-color: white;
	margin-bottom: 10em;

}


.replyheader{
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #0A1B31;
	height: 1.8em;
	overflow: hidden;
	box-shadow: 0px 0px 1em #777777;
	color: lightgrey;
}

#t{
	
	width: 100%;
	padding: .2em;
	
}

#r{
	width: 20%;
	display: none;
	padding: .2em;
	border-left: thin solid dimgrey;
}

@media (min-width: 50em){
	#t{
	width: 80%;
	font-size: 1.2em;
}

#r{
	display: inherit;
	font-size: 1.2em;

}
}


.queries{
	width: 100%;
	border-top: thin solid dimgrey;
	display: flex;
	justify-content: space-between;
	height: 5em;	
	overflow: hidden;

}

#a{
	
	width: 70%;
}

#b{
	
	width: 30%;

}

#c{
	width: 20%;
	display: none;

}

@media (min-width: 50em){
	#a{
		width: 60%;
	}

	#b{
		width: 20%;
	}

	#c{
		display: inherit;
	}
}

.texts{
	padding: .5em;
	font-size: .7em;
	font-family: georgia;

}

.normal{
	font-weight: normal;
	font-family: monospace;
}

#topic_title{
	color: white;
	text-shadow: 1px 1px 0px brown; ;
}
#last_replyer{
	font-family: monospace;
}

.queries_wrapper{
	text-decoration: none;
	color: white;
}

.queries_wrapper article{
	background-color: #102745; 
}

.queries_wrapper:hover article{
	background-color:rgba(10,27,49,.89);
}

@media (min-width: 50em){
	.texts{
	padding: .5em;
	font-size: 1em;
}	
}






