/* You can add global styles to this file, and also import other style files */

* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}

body {
    background-color: #f2f2f2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent;
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
}
